
.form{
    background-color: #e5e5e5;
    
    padding: 20px;
  
    
   
}
input {
    border-width: 0px;
    width: 550px;
    height: 25px;
 
    padding: 10px;
    margin-bottom:  5px;
    font-size: 17px;
}
textarea{
    border-width: 0px;
    width: 550px;
    height: 130px;
    font-size: 20px;
    padding: 10px;
}
::placeholder {
    color: #d1bdbd;
    opacity: 1;
    font-size: 17px;  
    font-family: 'Open Sans',sans-serif;
  }

textarea::placeholder {
    font-size: 20px;
    
 
}  
.submit{
    background-color: #40ca7e;
    width: 100px;
    height: 40px;
    border-width: 0px;
    border-radius: 20px;
    color:#fff8f8 ;
}
.submit:hover {
    color:#05386b;
   
}
.form-body{
    margin: 5px;
    padding: 5px;
    position: relative;
    left: 70px;
    
}
.accounts {
    background-color: #40ca7e;
    color:white ;
    padding: 30px;
    font-family: 'Open Sans',sans-serif;
    height: 350px;
}
h1{
    font-size: 50px ;
    font-weight: bolder;
    position: relative;
    left: 80px;
    top: 30px;
}
h2{
  width: 400px;
  position: relative;
  left: 80px;
  top: 45px;
}
p{
    width: 450px;
    position: relative;
    left: 80px;
    top: 65px;

}
.icons{
    padding: 10px;
    
    position: relative;
    left: 80px;
    top: 65px;
    font-size: 40px;
   
}
a{
    padding: 5px;
    color: white;
}
a :hover{
    color:#05386b;
}
a :active{
    color:#05386b;
}

.info-section{
    padding: 50px;
    background-color: white;
    width: 300px;
    height: 400px;
    position: relative;
    left: 800px;
    top: -550px;
    font-family: 'Open Sans',sans-serif;
    text-align: center;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: black;
}
h3{
    padding: 20px;
    font-size: 25px;
}
span{
    padding: 10px;
}

@media (max-width:1300px){
    .info-section{
        position: relative;
    left: 700px;
    top: -550px;
    }

}
@media (max-width:1200px){
    .info-section{
        width: 200px;
        height: 400px;
    }

}
@media (max-width:1050px){
    .info-section{
        width: 200px;
        height: 400px;
        position: relative;
        left: 600px;
        top: -400px;
    }
    .accounts{
        height: 450px;
    }

}
@media (max-width:1000px){
    .info-section{
        width: 200px;
        height: 400px;
        position: relative;
        left: 550px;
        top: -300px;
    }
    .accounts{
        height: 500px;
    }
    input {
       
        width: 450px;
        height: 25px;
     
        padding: 10px;
        margin-bottom:  5px;
        font-size: 17px;
    }
    textarea{
        border-width: 0px;
        width: 450px;
        height: 130px;
        font-size: 20px;
        padding: 10px;
    }

}
@media (max-width:900px){
    .info-section{
        width: 200px;
        height: 400px;
        position: relative;
        left: 60px;
        top: 100px;
    }
    .accounts{
        height: 900px;
    }
    input {
       
        width: 450px;
        height: 25px;
     
        padding: 10px;
        margin-bottom:  5px;
        font-size: 17px;
    }
    textarea{
        border-width: 0px;
        width: 450px;
        height: 130px;
        font-size: 20px;
        padding: 10px;
    }

}

@media (max-width:700px ) { 
    .info-section{
        width: 200px;
        height: 400px;
        position: relative;
        left: 60px;
        top: 100px;
    }
    .accounts{
        height: 900px;
    }
    input {
       
        width: 350px;
        height: 25px;
       
    }
    textarea{
        
        width: 350px;
        height: 130px;
      
        padding: 10px;

    }
    .form-body{
       
        position: relative;
        left: 20px;
        
    }
    h1{
        font-size: 30px ;
        
        position: relative;
        left: 10px;
        top: 30px;
    }
    h2{
      width: 400px;
      position: relative;
      left: 10px;
      top: 45px;
    }
    p{
        width: 400px;
        position: relative;
        left: 10px;
        top: 65px;
    
    }


}
@media (max-width:500px ) { 
    .info-section{
     
        left: 10px;
        height: 380px;
    }
    .icons{
        position: relative;
        left: 20px;
    }
    .accounts{
        height: 950px;
    }
    input {
      
        width: 250px;
  
    }
    textarea{
        
        width: 250px;
        height: 100px;
      

    }
  
  
    h2{
      width: 300px;
    
    }
    p{
        width: 300px;
    
    }


}
@media (max-width:350px ) { 
    .info-section{
        width: 150px;
        height: 350px;
        position: relative;
        left: 5px;
        
    }
    .accounts{
        height: 900px;
    }
    input {
        position: relative;
        left: -30px;
        width: 250px;
        height: 25px;
       
    }
    textarea{
        
        position: relative;
        left: -30px;
        width: 250px;
        height: 100px;

    }
    .form-body{
       
        position: relative;
        left: 20px;
        
    }
    h1{
        font-size: 30px ;
        
        position: relative;
        left: -5px;
       
    }
    h2{
      width: 280px;
      position: relative;
      left: -5px;
     
    }
    p{
        width: 280px;
        position: relative;
        left: -5px;
     
    
    }
    h3{
       position: relative;
       top: -45px;
       left: -10px;
        font-size: 25px;
    }
    span{
        position: relative;
       top: -40px;
       left: -10px;
        padding: 10px;
    }

}
